@use "/src/variables" as vars;
@use "/src/mixins" as mixins;

.wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: vars.$color-tuna;

  .login-wrapper {
    display: flex;
    flex-direction: column;
    flex-basis: 20%;
    min-width: 280px;
    transform: translateY(-45px);

    .heading {
      display: flex;
      margin: 1.5rem 0;
      padding: 0 1rem;

      .mat-icon {
        @include mixins.icon-size(45px);
      }

      .text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 5px;

        .title {
          font-size: 24px;
          color: vars.$color-iron;
          font-weight: 500;
        }

        .subtitle {
          font-size: 12px;
          color: vars.$color-pale-sky;
        }
      }
    }

    .content {
      display: flex;
      flex-direction: column;
      background-color: vars.$color-tuna-light;
      padding: 1rem;
      border-radius: 5px;
      gap: 5px;

      .control {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        .label {
          color: vars.$color-iron;
          font-weight: 500;
          font-size: 14px;
          display: inline-block;
        }
      }

      [matSuffix] {
        @include mixins.icon-size(20px);
        padding: 10px;
        cursor: pointer;
      }
    }
  }
}

::placeholder {
  font-size: 14px !important;
}

@keyframes slideInDown {
  from {
    transform: translate3d(0, -120px, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, -45px, 0);
  }
}

.slideInDown {
  animation-name: slideInDown;
  animation-duration: 0.4s;
}
