@use "/src/variables" as vars;

$header-height: 60px;

:host {
  user-select: none;
}

.header {
  height: $header-height;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .drawer-header {
    display: flex;
    align-items: center;

    .app-name {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 200px;
      height: $header-height;
      background-color: vars.$color-primary;

      span {
        color: #fff;
        letter-spacing: 4px;
        font-size: 20px;
      }
    }
  }

  .toolbar {
    display: flex;
    align-items: center;
    margin-right: 1rem;

    span {
      display: inline-block;
      margin-right: 1rem;
      color: vars.$color-tuna;
    }
  }
}

.sidenav-container {
  height: calc(100% - $header-height);

  .sidenav-content {
    height: 100%;
    background-color: vars.$color-tuna;
    overflow: auto;
  }

  .sidenav {
    width: 200px;
    padding-top: 20px;
    background-color: vars.$color-shark;
    border: 1px solid vars.$color-shark;
  }
}

.mat-mdc-icon-button {
  color: vars.$color-tuna;

  &:hover {
    color: vars.$color-primary;
    transition: color 200ms ease-in;
  }
}

nav a {
  height: 40px;
  font-size: 18px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding-left: 32px;
  color: vars.$color-iron;
  text-decoration: none;
  margin-left: 6px;

  &.active {
    color: vars.$color-primary;
    margin-left: 0;
    border-left: 6px solid vars.$color-primary;
  }
}
