<div class="header">
  <div class="drawer-header">
    <div class="app-name">
      <span>SMART PASS</span>
    </div>
    <button type="button" mat-icon-button (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div class="toolbar">
    <span>{{ username }}</span>
    <button mat-icon-button matTooltip="Logout" (click)="logout()">
      <mat-icon>logout</mat-icon>
    </button>
  </div>
</div>
<mat-drawer-container class="sidenav-container">
  <mat-drawer #drawer class="sidenav" mode="side" [opened]="true">
    <nav>
      <a
        matRipple
        routerLink="/accounts"
        routerLinkActive="active"
        draggable="false"
        [routerLinkActiveOptions]="{ exact: true }"
        >Accounts</a
      >
    </nav>
    <nav>
      <a
        matRipple
        routerLink="/devices"
        routerLinkActive="active"
        draggable="false"
        [routerLinkActiveOptions]="{ exact: true }"
        >Devices</a
      >
      <a
        matRipple
        routerLink="/access-cards"
        routerLinkActive="active"
        draggable="false"
        [routerLinkActiveOptions]="{ exact: true }"
        >Access Cards</a
      >
    </nav>
  </mat-drawer>
  <div class="sidenav-content">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
