<h1 mat-dialog-title>Card Access Level</h1>
<div mat-dialog-content>
  <div class="card">
    <span><b>User ID:</b> {{ data?.userId }}</span>
    <span><b>Access Level:</b> {{ data?.accessLevel }}</span>
    <span><b>Pass Code:</b> {{ data?.passCode }}</span>
    <span><b>Description:</b> {{ data?.description }}</span>
  </div>
  <form>
    <mat-form-field appearance="outline">
      <mat-label>Access Level</mat-label>
      <mat-select [formControl]="accessLevel">
        <mat-option *ngFor="let level of accessLevels" [value]="level">{{
          level
        }}</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
  <button mat-button color="primary" cdkFocusInitial (click)="edit()">
    Edit
  </button>
</div>
