<h1 mat-dialog-title>Delete Device</h1>
<div mat-dialog-content>
  <span class="warn">The following device is being deleted!</span>
  <div class="device">
    <span><b>ID:</b> {{ data?.id }}</span>
    <span><b>Access Level:</b> {{ data?.accessLevel }}</span>
    <span><b>Description:</b> {{ data?.description }}</span>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
  <button mat-button color="primary" cdkFocusInitial (click)="deleteDevice()">
    Delete
  </button>
</div>
