@use "/src/variables" as vars;
@import "/src/theme";

html,
body,
main {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: vars.$color-tuna;
}

.form-truncated {
  &.mat-mdc-form-field .mat-mdc-text-field-wrapper .mat-mdc-form-field-infix {
    padding: 0.5rem 0;
    min-height: unset;
  }
}

.mat-mdc-snack-bar-container {
  --mat-mdc-snack-bar-button-color: #ff9800;
  --mdc-snackbar-container-color: #32353e;
  --mdc-snackbar-supporting-text-color: #e6e6e7;
}

.mat-mdc-table tr {
  td,
  .cdk-header-cell {
    background-color: vars.$color-shark;
    color: vars.$color-iron;
  }
}

.mat-mdc-select-panel.mdc-menu-surface {
  background-color: vars.$color-shark;
  color: vars.$color-iron;
}

.mat-mdc-paginator-container {
  background-color: vars.$color-shark;
  color: vars.$color-iron;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  background: vars.$color-tuna;
}

::-webkit-scrollbar-thumb {
  background: vars.$color-primary;
  border-radius: 7px;
}

.mat-mdc-dialog-container.mdc-dialog .mat-mdc-dialog-surface {
  background-color: vars.$color-tuna;
}
