@use "/src/variables" as vars;
@import "/src/theme";

html,
body,
main {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: vars.$color-tuna;
}

.form-truncated {
  &.mat-mdc-form-field .mat-mdc-text-field-wrapper .mat-mdc-form-field-infix {
    padding: 0.5rem 0;
    min-height: unset;
  }
}

.mat-mdc-snack-bar-container {
  --mat-mdc-snack-bar-button-color: #ff9800;
  --mdc-snackbar-container-color: #32353e;
  --mdc-snackbar-supporting-text-color: #e6e6e7;
}
